html {
    background-color: rosybrown;
}


h1 {
    color: red;
    text-align: center;
    font-size: 600%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    position: relative; /* Nécessaire pour positionner l'image */
    overflow: hidden; /* Empêche le défilement si l'image sort de l'écran */
}

#image {
    display: none; /* Cache l'image par défaut */
    position: absolute; /* Pour positionner l'image à différents endroits */
    width: 100px; /* Taille de l'image (ajuste selon tes besoins) */
    height: auto; /* Maintient le ratio de l'image */
    z-index: -1; /* Met l'image derrière tout le contenu */
}